@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&family=Source+Code+Pro&display=swap");
body {
  background-color: #262626;
  color: #fff !important;
  font-family: "Roboto Mono", monospace;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768) {
  whitespace {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 80px;
}

.nav__hamburger {
  display: none;
}

.nav__logo a {
  text-decoration: none;
  color: #fff;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__menu__item:not(:first-child) {
  margin-left: 1rem;
}

.nav__menu__link {
  text-decoration: none;
  color: #fff;
  padding: 0 0rem;
  position: relative;
}

.nav__menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #b7b7b7;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.nav__menu__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 768px) {
  .nav {
    position: relative;
  }
  .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .nav__menu__item:not(:first-child) {
    margin-left: 0rem;
  }
  .nav__menu__link {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 1.5rem 0;
    border-radius: 10px;
  }
  .nav__menu__link:hover {
    cursor: pointer;
    color: #b7b7b7;
    background-color: #4d4d4d;
  }
  .nav__menu__link::after {
    content: none;
  }
  .nav__menu--open {
    display: none;
  }
  .nav__hamburger {
    display: inline;
  }
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 80px;
}

.hero__header {
  font-size: 60px;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.15em;
  opacity: 0;
}

.hero__scroll-down {
  border: none;
  background-color: #262626;
  color: #b7b7b7;
  opacity: 0;
  justify-self: flex-end;
}

.hero__scroll-down__ic {
  font-size: 2rem;
}

.hero__scroll-down:hover {
  cursor: pointer;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30ch;
          flex: 1 0 30ch;
  max-width: 30ch;
  height: 350px;
  overflow: hidden;
  background-color: #414141;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Roboto Mono", monospace;
}

.project-card__inner {
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.project-card__header {
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.project-card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.project-card__top__left, .project-card__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card__link {
  text-decoration: none;
  color: #b7b7b7;
  font-size: 1.5rem;
}

.project-card__link:nth-last-child(1) {
  margin-left: 1rem;
}

.project-card__link:hover {
  color: #8ba7d0;
}

.project-card__title {
  color: #fff;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  margin: 1rem 0;
}

.project-card__description {
  color: #b7b7b7;
  margin: 0.5rem 0;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}

.project-card__ic-folder {
  font-size: 2rem;
  display: initial;
  color: #fff;
  padding: 0;
  margin: 0;
}

.project-card__ic-folder-open {
  font-size: 4em;
  display: none;
  color: #8ba7d0;
}

.project-card__footer {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 1rem;
}

.project-card__footer > span:not(:last-child) {
  margin-right: 1rem;
}

.project-card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0px 5px 8px rgba(183, 183, 183, 0.8);
          box-shadow: 0px 5px 8px rgba(183, 183, 183, 0.8);
}

.project-card:hover .project-card__title {
  color: #8ba7d0;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

@media (max-width: 768px) {
  .project-card {
    max-width: 70ch;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4rem;
  gap: 2rem;
  opacity: 0;
}

.footer__spacer {
  height: 2px;
  background-color: #b7b7b7;
}

.footer p, .footer__trademark {
  text-align: center;
  color: #b7b7b7;
  width: 100%;
}

.footer__sub-heading {
  color: #b7b7b7;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__inner > div {
  padding: 0.5rem 0;
}

.footer__socials, .footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link a,
.footer__link p {
  color: #fff;
}

.footer__link p {
  margin-left: 20px;
}

.footer__ic {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.other-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 80px;
  opacity: 0;
}

.other-projects__container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.other-projects__container > .project-card {
  margin: 1rem 1rem;
}

@media (max-width: 768px) {
  .other-projects {
    margin: 0 0;
  }
}

.test {
  height: 500px;
  font-size: 50px;
  display: -ms-grid;
  display: grid;
  opacity: 0;
  place-items: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 80px;
}

.contact__header, .contact__sub-header {
  text-align: center;
}

.contact__header {
  font-size: 48px;
  margin-bottom: 1rem;
}

.contact__sub-header {
  color: #b7b7b7;
  font-weight: 400;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 30ch;
  max-width: 70ch;
  width: 100%;
  height: 100%;
}

.contact__form__label {
  padding: 0.5rem 0;
  color: #fff;
}

.contact__form__input {
  height: 2rem;
}

.contact__form__textarea {
  height: 10ch;
}

.contact__form__button {
  margin-top: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.1em;
  background-color: gray;
  border: 1px solid #fff;
}

.contact__form__button__span {
  padding: 0 0.5rem;
}

.contact__form__button:disabled {
  background-color: #262626;
}

.contact__form__button:hover:not([disabled]) {
  background-color: #4d4d4d;
  cursor: pointer;
}

.contact__form__input, .contact__form__textarea {
  background-color: #b7b7b7;
  border: none;
  color: #262626;
  padding: 0 1rem;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  white-space: nowrap;
}

.contact__form__textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact__form__input:focus, .contact__form__textarea:focus {
  background-color: #fff;
}

.home-page {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */