$bg-color: #262626;
$text-color: #fff !important;

$roboto-mono: 'Roboto Mono', monospace;
$source-code-pro: 'Source Code Pro', monospace;
$white: #fff;
$gray-300: #b7b7b7;
$gray-500: #414141;
$gray-700: hsl(0, 0%, 50%);
$gray-800: hsl(0, 0%, 30%);
$gray-900: #262626;
$accent-500: #8da8d0;
